body {
    background-color:#5B6A70;
    color:white;
    font-family:'Sigmar One', cursive;
    line-height: 2.5em;
    margin: 0;
    font-size: 20px
}

.clr {
    clear: both;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    
    
}

#main-header {
    text-align: center;
    border-bottom: solid 5px 

}

#about {
    float: left;
    width: 40%;
    padding: 5px;
    
}

#picture-box {
    background-image: url(../images/pug.jpg);
    float: right;
    width: 50%;
    min-height: 420px;
    background-position: center;
    margin: 30px;
    background-repeat: no-repeat;
    
    
}

#main-footer {
    text-align: center;
    margin-top:50px;
    border-top: solid 5px
}

@media(max-width: 800px) {
    #picture-box {
        float:none;
        width:100%;
        margin: 0;
        padding: 0;
        
    }

    #about {
        float:none;
        width: 100%;
    }
}

