<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Certificates</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
</head>
<body>
    {{>header}}

    <div class="main-content">
        <div class="certs">
        <h1>Golang</h1>
        <img class="cert" src="images/GolangCert.jpg" alt="Golang Certification"></div>
    <div class="certs">
        <h1>Golang Web Development</h1>
        <img class="cert" src="images/GoWebDevCert.jpg" alt="Golang Web Development Certification"></div>
    <div class="certs">
        <h1>Javascript</h1>
        <img class="cert" src="images/JavascriptCert.jpg" alt="Javascript Certification"></div>
    <div class="certs" style="margin-bottom: 50px">
        <h1>Node.js</h1>
        <img class="cert" src="images/NodeCert.jpg" alt="Node.js Certificate"></div>
    </div>
    {{>footer}}
</body>
</html>