html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 250px;
    padding-bottom: 200px;
    
}




body {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    /*background-image: url('/images/spacebg.jpg');*/
    background-repeat: no-repeat;
    background-size:cover;
    background-color: black;
    transition: 1s;
}

.main-content {
    background-color: white;
}


header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-bottom: 10px;
    
    
    
}



footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

header a {
    padding: 10px;
    transition: 1s;
    text-decoration: none;
    color: black;

}

header a:hover {
    color: lightsteelblue;
    font-size: 20px;
    padding: 0;
}

header a:visited {
    
    text-decoration: underline;
}





.cert {
    width: 50%;
    margin: 0 auto;
    display: block;
    
}

.certs {
    padding: 30px;
    border-bottom: 2px solid black;
    
    
}



#about {
    border-top: 2px solid black;
    text-align: center;
    border-bottom: 1px solid black;
    transition: 2s;
    padding-bottom: 25px;
    
    
}


#about #para {
    padding: 10px;
    animation: 'about-para' 2s ease-in;
    text-align: center;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 20px;
    transition: 2s;
    
    
}



#about:hover {
    color: white;
    background-color:   #525151;
    font-size: 25px;
    border-top: 2px solid black;
    
}

#about:hover #para {
    
    padding: 10px;
    margin: 10px;
}

#about:hover #button button{
    transform: scale(2);
    margin: 2em;
    padding: 1em;
    
    cursor: pointer;
}

#about:hover #chat-bubble {
    width: 75%;
    margin: 0 auto
}

#chat-bubble {
    display: none;
    width: 50%;
    margin: 0 auto;
    transition: 2s;
    padding: 15px;
    
}



#button button {
    transition: 1s ease-out;
    animation: 'button' 2s;
    background-color: navy;
    color: white;
    border-radius: 4px;
    padding: 2px;
}

#button button:active {
    opacity: 0;

}







#about-container {
    padding: 1px;
    display: flex;
    flex-direction: row;

}

#about-p {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    
}



#contact {
    padding-top: 20px;
    border-top: 1px solid black;
    text-align: center;
    border-bottom: 1px solid black;
    transition: 2s;
}

#contact:hover {
    color: white;
    background-color:   #525151;
    font-size: 25px;
    border-top: 1px solid black;
    
}

#contact #submit-email {
    transition: 1s ease-in;
    background-color: navy;
    color: white;
    border-radius: 4px;
    padding: 2px;
}

#contact #submit-email:hover {
    background-color: green;
    cursor: pointer;
}

#contact:hover #submit-email {
    transform: scale(2);
    margin: 2em;
    padding: 1em;
    
}



#socials {
    border-top: 1px solid;
    text-align: center;
    transition: 2s;
    margin: 0 auto;
    border-bottom: 2px solid black;
}

#socials:hover {
    color: white;
    background-color:   #525151;
    font-size: 25px;
    border-top: 1px solid black;
    
}



#socials:hover #facebook  {
    transform: rotate(-360deg);
}

#socials:hover #twitter  {
    transform: rotate(-360deg);
}

#socials:hover #youtube  {
    transform: rotate(360deg);
}

#socials:hover #linked  {
    transform: rotate(360deg);
    
}



#submit-email {
    padding: 3px;
    margin: 1em;
    transition: 2s;
}

#socials-images {
    display: flex;
    flex-direction: row wrap;
    transition: width 2s;
    width: 100%;
    padding-bottom: 20px;
    
    
}

#facebook {
    flex-grow: 1;
    transition: 2s
}

#twitter {
    flex-grow: 1;
    transition: 2s
}

#youtube {
    flex-grow: 1;
    transition: 2s
}

#linked {
    flex-grow: 1;
    transition: 2s
}


#facebook img{
    width: 25%;
    
}

#twitter img{
    width: 25%;
    
}

#youtube img{
    width: 25%;
    
}

#linked img{
    width: 25%;
    
}

@media (min-width: 1000px) {
    #socials-images {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    #about-container {
        flex-direction: column;
    }
}

@keyframes about-para {
    0% {opacity: 1}
    
    100% {opacity: 1}
}


